[Desktop Entry]
Version=1.0
Type=Application
Name=Download de Músicas
Comment=Baixa músicas pela URL do YouTube
Exec=/home/brayan/Documentos/Cursos/python/YT_download/dist/YT_download/YT_download.exe
Icon=youtube
Path=~/Música
Terminal=true
StartupNotify=false
Name[pt_BR]=Download de Músicas - atalho
